# Ignore various file created by IDEs
__pycache__/
*.pyc
.env
.venv/
.DS_Store
.idea/
.vscode/
lib/

# Ignore auxiliary directories
chapters/
archive/
gen/
webapp/

# Ignore Jupyter Notebooks
*.ipynb
NOTES.md
*.pdf

# Ignore BookNLP Output files
# out/
